{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}

<div class="row top-buffer"></div>

<div class="container">

	<div class="pb-2 mt-4 mb-2 border-bottom">
		<h3>Advanced Wifi Settings</h3>
	</div>


      <form class="form-horizontal" action="{{ url_for('networksetting') }}" method=post>
		
			<!-- Setting part  OOOOOOOOOOOOOOOOOOOOOO-->				
			<div class="card card-body bg-light">
				
					<div class="row mb-2">			
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<legend>Parameter Settings</legend>  
								</div>	
							</div>	

							<div class="row pb-2">
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
									<label for="inpwifiip">WiFi IP Address</label>
								</div>
								<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
									<input id="inpwifiip" type="text" class="form-control" placeholder={% if address=="" %}"IP address"{% else %}"{{IPADDRESS}}"{% endif %} name="IPADDRESS" value="{{IPADDRESS}}">
									<div class="small">Wifi IP address for local connection, the system will try to set this address as static IP address in the router. Make sure this Address belongs to the same WiFi subnet for the router</div>									
								</div>
							</div>	
						
							<div class="row mb-2">
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
									<label for="inpapssid">Access Point SSID Name</label>
								</div>		
								<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
									<input id="inpapssid" type="text" class="form-control" placeholder={% if address=="" %}"AP SSID"{% else %}"{{AP_SSID}}"{% endif %} name="AP_SSID" value="{{AP_SSID}}">
								</div>
							</div>	

							<div class="row mb-2">
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
									<label for="inpappasswd">Access Point Password</label>
								</div>		
								<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
										<input id="inpappasswd" type="password" class="form-control"  placeholder="{{AP_PASSWORD}}" name="AP_PASSWORD" value="{{AP_PASSWORD}}">
								</div>
							</div>	

							<div class="row mb-2">		
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
								<label for="inpaptime">Access Point time (sec):
								</label>								
								</div>
								<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
								
								{% set arr=["0","60","120","180","240","300"] %}	 			
								  <select id="inpaptime" class="form-select" name="AP_TIME">
									{% for item in arr %}
										<option {% if item==AP_TIME %}selected="selected"{% endif %} >{{item}}</option>
									{% endfor %}
								  </select>
								
								<div class="small">Every time the system is started, it setup the WiFi access point for the number of seconds indicated in this field, after this time the system try to connect to the WiFi netowrk if this is configured </div>

								</div>				
							</div>


							<div class="row mb-2">		
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
								<label for="inpwifiendis">WiFi Enabled/Disabled:
								</label>

								
								</div>
								<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
								
								{% set arr=["Enabled","Disabled"] %}	 			
								  <select id="inpwifiendis" class="form-select" name="WIFIENDIS">
									{% for item in arr %}
									<option {% if item==WIFIENDIS %}selected="selected"{% endif %} >{{item}}</option>
									{% endfor %}
								  </select>
								
								<div class="small">In case you have wired connection you can disable the WiFi using this setting. Make sure to delete all the already saved wifi networks (clicking "forget") </div>

								</div>				
							</div>							
							
							<div class="row mb-2">		
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
								<label for="inphostname">Host Name:</label>
								</div>
								<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
									<input id="inphostname" type="text" class="form-control" placeholder={{HOSTNAME}} name="HOSTNAME" value="{{HOSTNAME}}">
									<div class="small">Hostname is set to easily reach the system when using local network, To be effecetive, after clicking the submit button, the system should be restarted </div>
								</div>			
							</div>
											
							<div class="row mb-2">		
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
								<label for="inpstaticip">Force Static IP on Router:</label>
								</div>
								<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
			
									{% set arr=["True","False"] %}	 			
									  <select id="inpstaticip" class="form-select" name="forceStaticIP">
										{% for item in arr %}
											<option {% if item==forceStaticIP %}selected="selected"{% endif %} >{{item}}</option>
										{% endfor %}
									  </select>
									
										<div class="small">If True, try to set the static IP on the WiFi router (some routers might not support this option) </div>
	
									</div>			
							</div>
			
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
				<button name="button" type="submit" class="btn btn-success defaultbutton w-100" value="save"><i class="fa-solid fa-floppy-disk"></i> Save</button>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
				<button name="button" type="submit" class="btn btn-secondary defaultbutton w-100" value="cancel"><i class="fa-solid fa-circle-left"></i> Back</button>
			</div>
		</div>


	</div>	
              


      </form>
</div>	
 <!-- end form --> 
  
  {% endif %}
  <ul class=entries>

  </ul>
{% endblock %}
