{% extends "layout.html" %}
{% set active_page = "sensordata" %}
{% block body %}
  {% if session.logged_in %}

	<script type=text/javascript src="{{url_for('static', filename='chartjs-4.4.6/chart.umd.js') }}"></script>
	<script type=text/javascript src="{{url_for('static', filename='chartjs-4.4.6/chartjs-adapter-date-fns.bundle.min.js') }}"></script>
  
  <div class="container-fluid">
		<script type="text/javascript">

			$(function() {
				$( "button" ).button();
			});

			
		</script>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function() {
				console.log("Start building charts...");

				// setup dataset colors
				const labels = [];

				{% for l in usedsensorlist %}
					labels.push("{{ l|safe }}");				
				{% endfor %}

				{% for l in usedactuatorlist %}
					labels.push("{{ l|safe }}");
				{% endfor %}

				const backgroundColors = [
					'rgba(54, 162, 235, 0.5)',	// blue
					'rgba(255, 99, 132, 0.5)',	// red
					'rgba(255, 159, 64, 0.5)',	// orange
					'rgba(255, 205, 86, 0.5)',	// yellow
					'rgba(75, 192, 192, 0.5)',	// green
					'rgba(153, 102, 255, 0.5)',	// purple
					'rgba(201, 203, 207, 0.5)',	// grey
					'rgba(102, 226, 255, 0.5)',	// turquoise
					'rgba(255, 102, 217, 0.5)',	// pink
					'rgba(157, 255, 102, 0.5)'	// limegreen	
				];

				const borderColors = [
				    'rgba(54, 162, 235)',
				    'rgba(255, 99, 132)',
				    'rgba(255, 159, 64)',
				    'rgba(255, 205, 86)',
				    'rgba(75, 192, 192)',
				    'rgba(153, 102, 255)',
				    'rgba(201, 203, 207)',
				    'rgba(102, 226, 255)',
				    'rgba(255, 102, 217)',
				    'rgba(157, 255, 102)'
				];

				function getColorForDataset(label) {
					const labelIndex = labels.indexOf(label);
					return {
						backgroundColor: backgroundColors[labelIndex] || backgroundColors[colors.length - 1],
						borderColor: borderColors[labelIndex] || borderColors[borderColors.length - 1]
					};
				}

				// setup sensor and actuator chart data
				const combdata = [];
				const actuatordata = [];

				{% for d in chartjssensordata %}

				combdata.push(
					{
						label: "{{ d.label|safe }}",
						data: {{ d.data|safe }},
						fill: false,
						tension: 0.1,
						showLine: true,
						pointRadius: 5,
						borderDash: [],
						...getColorForDataset("{{ d.label|safe }}")
					}
				);

				{% endfor %}

				console.log("Sensor data ok (" + combdata.length + ")");

				// Clone the actual sensor data to use in auto watering chart
				// Object gets modified by chartjs
                                const sensordatahygro = structuredClone(combdata);

				console.log("Sensor data clone ok");

				{% for d in chartjsactuatordata %}

				dataset = {
					label: "{{ d.label|safe }}",
					data: {{ d.data|safe }},
					fill: false,
					pointStyle: 'rectRot',
					pointRadius: 10,
					pointHoverRadius: 15,
					showLine: false,
					borderDash: [],
					...getColorForDataset("{{ d.label|safe }}")
				};	
				combdata.push(dataset);
				actuatordata.push(dataset);

				{% endfor %}

				console.log("Actuator data ok (" + actuatordata.length + ")");

				// default options
				var config = {
					type: 'line',
					data: { datasets: [{}] },
					options: {
						parsing: false,
						plugins: {
						  decimation: {
						    enabled: true,
						    algorithm: 'lttb' // LTTB (Largest Triangle Three Buckets) Algorithmus
						  }
						},
						maintainAspectRatio: false,
					  elements: {
					    point: {
					      radius: 0,
					      hoverRadius: 5,
					      hitRadius: 10
					    }
					  },
					  scales: {
						x: {
							type: 'time',
							time: {
							  unit: 'hour',
							  stepSize: 1,
							  displayFormats: {
							    hour: 'HH:mm'
							  }
							},
							ticks: {
							  source: 'auto',
							  autoSkip: true,
							  maxRotation: 0,
							  major: {
							    enabled: true
							  }
							}
						},					  	
					    y: {
					      beginAtZero: false
					    }
					  }
					}
				};

				//Setup auto watering control chart
				var hygrosensornumlist={{hygrosensornumlist}};
				var hygroactuatornumlist={{hygroactuatornumlist}};
				var hygrosensornumlistwithout={{hygrosensornumlistwithout}};
				var actuatornumlistwithout={{actuatornumlistwithout}};
				var hygrosensornumlistwithoutactive={{hygrosensornumlistwithoutactive}};

				var fLen, i;
				const combdatahygro=[];
				const actuatordatahygro=structuredClone(actuatordata);

				fLen = hygrosensornumlist.length;
				for (i = 0; i < fLen; i++) {
					combdatahygro.push(sensordatahygro[hygrosensornumlist[i]]);
				}

				fLen = hygrosensornumlistwithout.length;
				for (i = 0; i < fLen; i++) {
					combdatahygro.push(sensordatahygro[hygrosensornumlistwithout[i]]);
				}

				fLen = hygrosensornumlistwithoutactive.length;
				for (i = 0; i < fLen; i++) {
					combdatahygro.push(sensordatahygro[hygrosensornumlistwithoutactive[i]]);
				}

				fLen = hygroactuatornumlist.length;
				for (i = 0; i < fLen; i++) {
					combdatahygro.push(actuatordatahygro[hygroactuatornumlist[i]]);
				}

				fLen = actuatornumlistwithout.length;
				for (i = 0; i < fLen; i++) {
					combdatahygro.push(actuatordatahygro[actuatornumlistwithout[i]]);
				}

				// Modify dataset to show auto watering chart with dashed lines
				for (const d in combdatahygro) {
					combdatahygro[d]["borderDash"] = [5, 5];
				}

				console.log("Autowatering data ok");

				// create sensor & actuator chart
				if (combdata.length > 0) {
					let ctx = document.getElementById('chartjs1');
					let config_chart = structuredClone(config);
					config_chart.data.datasets = combdata;
					new Chart(ctx, config_chart);
				}

				// create actuator chart
				if (actuatordata.length > 0) {
					let ctx = document.getElementById('chartjs2');
					let config_chart = structuredClone(config);
					config_chart.data.datasets = actuatordata;
					new Chart(ctx, config_chart);
				}

				// create auto watering chart
				if (combdatahygro.length > 0) {
					let ctx = document.getElementById('chartjs3');
					let config_chart = structuredClone(config);
					config_chart.data.datasets = combdatahygro;
					new Chart(ctx, config_chart);					
				}

				console.log("Charts done!");

				$(".downloadbutton").click(function() {
					var selvalue=$(this).attr('name');
					$('#postsensor').attr("value", selvalue);

					// export sensor and actuator data as JSON format
					var datatext=JSON.stringify(combdata);

				  var textDoc = document.createElement('a');			  
				  textDoc.href = 'data:attachment/text,' + datatext;
				  textDoc.target = '_blank';
				  textDoc.download = 'SensorData.txt';
				  textDoc.click();

				});
			});
		</script>

		<div class="pb-2 mt-4 mb-2 border-bottom">
			<h3>Data Trend</h3>
		</div>
       	
		<form novalidate="true" action="{{ url_for('show_sensordata') }}" id="menuForm" method="post" name="theForm">
			<div class="page-header">
				<input value={{actiontype}} id="actionbtn" name="actionbtn" type="hidden">
				<div class="row">
					<div class="col-xs-12 pb-2">
			
					{% for period in periodlist %}
						{% if period == "Custom" %}
						<div class="form-check" style="display:none">
						{% else %}
						<div class="form-check">
						{% endif %}
							<input class="form-check-input" onclick="this.form.submit()" type="radio" name="period" id="radio{{period}}" value="{{period}}" {% if period == periodtype %}checked{% endif %}>
							<label class="form-check-label" for="radio{{period}}">
								{{period}}
							</label>
						</div>
					{% endfor %}

					</div>
				</div>

				<!-- Select custom dates -->
				<div class="row">		
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
						<div class="row pb-2 smallgap">
							<div class="input-group date" id="datepicker">
								<input id="startdate" name="startdate" type='text' class="form-control" value="{{startdatestr}}">
								<span class="input-group-append">
									<span class="input-group-text bg-light d-block">
										<i class="fa fa-calendar"></i>
									</span>
								</span>
							</div>
						</div>
					</div>

					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
						<div class="row pb-2 smallgap">
							<div class="input-group date" id="datepicker">
								<input id="enddate" name="enddate" type='text' class="form-control" value="{{enddatestr}}">
								<span class="input-group-append">
									<span class="input-group-text bg-light d-block">
										<i class="fa fa-calendar"></i>
									</span>
								</span>
							</div>
						</div>
					</div>	
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">	
						<div class="row pb-2 smallgap">
							<button id="setPeriod" class="btn btn-primary" type="button" name="setPeriod">Selected Dates</button>
						</div>
					</div>	
				</div>					
				<script type="text/javascript">
					$(function () {
						startdate = document.getElementById('startdate')
						const datepicker1 = new Datepicker(startdate, {
							// Datepicker options
							format: 'dd/mm/yyyy',
							todayHighlight: true,
						}); 

						enddate = document.getElementById('enddate')
						const datepicker2 = new Datepicker(enddate, {
							// Datepicker options
							format: 'dd/mm/yyyy',
							todayHighlight: true,
						});
					});

					$(function() {
						$("#setPeriod").click(function() {
							$('#radioCustom').prop('checked',true);
							document.theForm.submit();
						});  
					}); 						
				</script>
			</div>

			<div class="card card-body bg-light mt-4 mb-4">
			        {% if (usedsensorlist|length + usedactuatorlist|length)>0 %}

			        <div class="row">
			        	<div style="font-size:20px;font-weight: bold;opacity: 0.5;">Sensor & Actuator Chart</div>
			        </div>

			        <div class="container-fluid" style="min-height:450px;">
			        	<canvas id="chartjs1"></canvas>
			        </div>

			        {% else %}

			        <div class="row">
			        	<div style="height:100px"><h4>Combined data empty</h4></div>
			        </div>

			        {% endif %}

			</div>

			<div class="card card-body bg-light mb-4">
				{% if (usedactuatorlist|length)>0 %}

				<div  class="row">
					<div style="font-size:20px;font-weight: bold;opacity: 0.5;">Actuator Chart</div>
				</div>						

				<div class="container-fluid" style="min-height:450px;">
					<canvas id="chartjs2"></canvas>
				</div>

				{% else %}

				<div class="row">
					<div style="height:100px"><h4>Actuator data empty</h4></div>
				</div>

				{% endif %}		

			</div>			

			<div class="card card-body bg-light mb-4">
				{% if (hygrosensornumlist|length + hygroactuatornumlist|length + hygrosensornumlistwithout|length + hygrosensornumlistwithoutactive|length + actuatornumlistwithout|length)>0 %}

				<div  class="row">
					<div style="font-size:20px;font-weight: bold;opacity: 0.5;">Auto Watering Control Chart</div>
				</div>	

				<div class="container-fluid" style="min-height:450px;">
					<canvas id="chartjs3"></canvas>
				</div>
					
				{% else %}

				<div class="row">
						<div style="height:100px"><h4>Auto watering data empty</h4></div>
				</div>

				{% endif %}		
							
			</div>
			
			<div class="pb-2 mt-4 mb-2 border-bottom">
				<h3>Options</h3>
			</div>

			<!-- Download data button -->
			<div class="row">							
				<div class="d-grid col-lg-4 col-md-4 col-sm-4 col-xs-4 pb-4">
					<button class="downloadbutton btn btn-secondary defaultbutton w-100" type="button" name="downloaddata"><i class="fa-solid fa-download"></i> Download Sensor Data</button>
				</div>
			</div>

			<!-- Delete all data button -->
			<div class="row">							
					<div class="d-grid col-lg-4 col-md-4 col-sm-4 col-xs-4 pb-4">
						<button type="button" class="btn btn-warning defaultbutton w-100" data-bs-toggle="modal" data-bs-target="#DeleteAllDataModal"><i class="fa-solid fa-trash"></i> Delete All Sensor Data</button>
					</div>
			</div>

		    <!-- Modal HTML -->
		    <div id="DeleteAllDataModal" class="modal fade" aria-hidden="true" aria-labelledby="ModalLabel">
		        <div class="modal-dialog">
		            <div class="modal-content">
		                <div class="modal-header">
		                	<h1 id="ModalLabel" class="modal-title fs-5">Confirmation</h1>
		                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
		                </div>
		                <div class="modal-body">
		                    <p>Proceed to delete all sensor data?!</p>
		                </div>
		                <div class="modal-footer">
		                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
		                    <button name="delete" type="submit" idref="actionbtn" class="thebutton btn btn-primary">Proceed</button>
		                </div>
		            </div>
		        </div>
		    </div>	

		</form>	
		
		<script type="text/javascript">
			
			$(function() {
					$(".thebutton").click(function() {
						var selvalue=$(this).attr('name');
						//alert(selvalue);
						var idref=$(this).attr('idref');
						$('#' + idref).attr("value", selvalue);
					});
				});
		</script>

		<form novalidate="true" action="{{ url_for('DATAsetup') }}" id="DATAsetup" method="post" > 
			<div class="row">
				<div class="d-grid col-lg-4 col-md-4 col-sm-4 col-xs-4 pb-4">
					<button name="buttonsub" value="show" type="submit" class="thebutton btn btn-primary defaultbutton w-100">
					<i class="fas fa-cog"></i> Filter Data
					</button>
				</div>
			</div>
		</form> 
		
  	</div>

  	{% else %}

		<h1>Please login</h1>
  
  	{% endif %}

{% endblock %}
