{% extends "layout.html" %}
{% set active_page = "sensordata" %}
{% block body %}
  {% if session.logged_in %}

	<script type=text/javascript src="{{url_for('static', filename='chartjs-4.4.6/chart.umd.js') }}"></script>
	<script type=text/javascript src="{{url_for('static', filename='chartjs-4.4.6/chartjs-adapter-date-fns.bundle.min.js') }}"></script>
  
  <div class="container-fluid">
		<script type="text/javascript">

			$(function() {
				$( "button" ).button();
			});

			
		</script>

		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function() {

				console.log("hygrosensornumlist:");
				console.log("{{hygrosensornumlist}}");

				console.log("hygroactuatornumlist:");
				console.log("{{hygroactuatornumlist}}");

				console.log("hygrosensornumlistwithout:");
				console.log("{{hygrosensornumlistwithout}}");

				console.log("hygrosensornumlistwithoutactive");
				console.log("{{hygrosensornumlistwithoutactive}}");

				console.log("actuatornumlistwithout:");
				console.log("{{actuatornumlistwithout}}");

				// setup sensor chart data				
				const sensordata = [];

			{% for d in chartjssensordata %}

				sensordata.push(
					{
						label: "{{ d.label|safe }}",
						data: {{ d.data|safe }},
						fill: false,
						tension: 0.1,
						showLine: true
					}
				);

			{% endfor %}

				// setup actuator and combined chart data				
				const combdata = structuredClone(sensordata);
				const actuatordata = [];

			{% for d in chartjsactuatordata %}

				dataset = {
					label: "{{ d.label|safe }}",
					data: {{ d.data|safe }},
					fill: false,
					pointStyle: 'rectRot',
					pointRadius: 10,
					pointHoverRadius: 15,
					showLine: false
				};	
				combdata.push(dataset);
				actuatordata.push(dataset);

			{% endfor %}

				// default options
				var config = {
					type: 'line',
					data: { datasets: [{}] },
					options: {
						parsing: false,
						plugins: {
						  decimation: {
						    enabled: true,
						    algorithm: 'lttb' // LTTB (Largest Triangle Three Buckets) Algorithmus
						  }
						},
						maintainAspectRatio: false,
					  elements: {
					    point: {
					      radius: 0,
					      hoverRadius: 5,
					      hitRadius: 10
					    }
					  },
					  scales: {
						x: {
							type: 'time',
							time: {
							  unit: 'hour',
							  stepSize: 1,
							  displayFormats: {
							    hour: 'HH:mm'
							  }
							},
							ticks: {
							  source: 'auto',
							  autoSkip: true,
							  maxRotation: 0,
							  major: {
							    enabled: true
							  }
							}
						},					  	
					    y: {
					      beginAtZero: true
					    }
					  }
					}
				};

				// create the charts
				if (sensordata.length > 1) {
					const ctx1 = document.getElementById('chartjs1');
					let config_chart1 = structuredClone(config);
					config_chart1.data.datasets = sensordata;
					new Chart(ctx1, config_chart1);
				}

				if (actuatordata.length > 0 && combdata.length > 0) {
					const ctx2 = document.getElementById('chartjs2');
					let config_chart2 = structuredClone(config);
					config_chart2.data.datasets = combdata;
					new Chart(ctx2, config_chart2);
				}

				if (actuatordata.length > 0) {
					const ctx3 = document.getElementById('chartjs3');
					let config_chart3 = structuredClone(config);
					config_chart3.data.datasets = actuatordata;
					new Chart(ctx3, config_chart3);
				}

				//TODO auto watering control chart
			});
		</script>


		<script type="text/javascript">
			// download data to file txt	
	
			$(function() {

				$(".downloadbutton").click(function() {
					var selvalue=$(this).attr('name');
					$('#postsensor').attr("value", selvalue);

					var sensorchartdata={{chartjssensordata|safe}};
					var actuatorchartdata={{chartjsactuatordata|safe}};

					// export sensor and actuator data as JSON format
					var datatext=JSON.stringify(sensorchartdata)+JSON.stringify(actuatorchartdata);

				  var textDoc = document.createElement('a');			  
				  textDoc.href = 'data:attachment/text,' + datatext;
				  textDoc.target = '_blank';
				  textDoc.download = 'SensorData.txt';
				  textDoc.click();

				});  

		  });

		
		</script>
		<!-- The contents of myscript.js will be loaded inside the script tag -->

		<div class="pb-2 mt-4 mb-2 border-bottom">
			<h3>Data Trend</h3>
		</div>
       	
		<form novalidate="true" action="{{ url_for('show_sensordata') }}" id="menuForm" method="post" name="theForm">
			<div class="page-header">
				<input value={{actiontype}} id="actionbtn" name="actionbtn" type="hidden">
				<div class="row">
					<div class="col-xs-12 pb-2">
			
					{% for period in periodlist %}
						{% if period == "Custom" %}
						<div class="form-check" style="display:none">
						{% else %}
						<div class="form-check">
						{% endif %}
							<input class="form-check-input" onclick="this.form.submit()" type="radio" name="period" id="radio{{period}}" value="{{period}}" {% if period == periodtype %}checked{% endif %}>
							<label class="form-check-label" for="radio{{period}}">
								{{period}}
							</label>
						</div>
					{% endfor %}

					</div>
				</div>

				<!-- Select custom dates -->
				<div class="row">		
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
						<div class="row pb-2 smallgap">
							<div class="input-group date" id="datepicker">
								<input id="startdate" name="startdate" type='text' class="form-control" value="{{startdatestr}}">
								<span class="input-group-append">
									<span class="input-group-text bg-light d-block">
										<i class="fa fa-calendar"></i>
									</span>
								</span>
							</div>
						</div>
					</div>

					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
						<div class="row pb-2 smallgap">
							<div class="input-group date" id="datepicker">
								<input id="enddate" name="enddate" type='text' class="form-control" value="{{enddatestr}}">
								<span class="input-group-append">
									<span class="input-group-text bg-light d-block">
										<i class="fa fa-calendar"></i>
									</span>
								</span>
							</div>
						</div>
					</div>	
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">	
						<div class="row pb-2 smallgap">
							<button id="setPeriod" class="btn btn-primary" type="button" name="setPeriod">Selected Dates</button>
						</div>
					</div>	
				</div>					
				<script type="text/javascript">
					$(function () {
						startdate = document.getElementById('startdate')
						const datepicker1 = new Datepicker(startdate, {
							// Datepicker options
							format: 'dd/mm/yyyy',
							todayHighlight: true,
						}); 

						enddate = document.getElementById('enddate')
						const datepicker2 = new Datepicker(enddate, {
							// Datepicker options
							format: 'dd/mm/yyyy',
							todayHighlight: true,
						});
					});

					$(function() {
						$("#setPeriod").click(function() {
							$('#radioCustom').prop('checked',true);
							document.theForm.submit();
						});  
					}); 						
				</script>
			</div>

			<div class="card card-body bg-light mt-4 mb-4">
			        {% if (usedsensorlist|length)>0 %}

			        <div class="row">
			        	<div style="font-size:20px;font-weight: bold;opacity: 0.5;">Sensor Chart</div>
			        </div>

			        <div class="container-fluid" style="min-height:450px;">
			        	<canvas id="chartjs1"></canvas>
			        </div>

			        {% else %}

			        <div class="row">
			        	<div style="height:100px"><h4>Sensor data empty</h4></div>
			        </div>

			        {% endif %}

			</div>

			<div class="card card-body bg-light mt-4 mb-4">
			        {% if (usedactuatorlist|length)>0 %}

			        <div class="row">
			        	<div style="font-size:20px;font-weight: bold;opacity: 0.5;">Combined Chart</div>
			        </div>

			        <div class="container-fluid" style="min-height:450px;">
			        	<canvas id="chartjs2"></canvas>
			        </div>

			        {% else %}

			        <div class="row">
			        	<div style="height:100px"><h4>Combined data empty</h4></div>
			        </div>

			        {% endif %}

			</div>

			<div class="card card-body bg-light mb-4">
				{% if (usedactuatorlist|length)>0 %}

				<div  class="row">
					<div style="font-size:20px;font-weight: bold;opacity: 0.5;">Actuator Chart</div>
				</div>						

				<div class="container-fluid" style="min-height:450px;">
					<canvas id="chartjs3"></canvas>
				</div>

				{% else %}

				<div class="row">
					<div style="height:100px"><h4>Actuator data empty</h4></div>
				</div>

				{% endif %}		

			</div>			

			<div class="card card-body bg-light mb-4">
				{% if (hygrosensornumlist|length + hygroactuatornumlist|length + hygrosensornumlistwithout|length + hygrosensornumlistwithoutactive|length + actuatornumlistwithout|length)>0 %}

				<div  class="row">
					<div style="font-size:20px;font-weight: bold;opacity: 0.5;">Auto water Control Chart</div>
				</div>	

				<div class="container-fluid" style="min-height:450px;">
					<canvas id="chartjs4"></canvas>
				</div>
					
				{% else %}

				<div class="row">
						<div style="height:100px"><h4>Hygrometer data not available</h4></div>
				</div>

				{% endif %}		
							
			</div>
			
			<div class="pb-2 mt-4 mb-2 border-bottom">
				<h3>Options</h3>
			</div>

			<!-- Download data button -->
			<div class="row">							
				<div class="d-grid col-lg-4 col-md-4 col-sm-4 col-xs-4 pb-4">
					<button class="downloadbutton btn btn-secondary defaultbutton w-100" type="button" name="downloaddata"><i class="fa-solid fa-download"></i> Download Sensor Data</button>
				</div>
			</div>

			<!-- Delete all data button -->
			<div class="row">							
					<div class="d-grid col-lg-4 col-md-4 col-sm-4 col-xs-4 pb-4">
						<button type="button" class="btn btn-warning defaultbutton w-100" data-bs-toggle="modal" data-bs-target="#DeleteAllDataModal"><i class="fa-solid fa-trash"></i> Delete All Sensor Data</button>
					</div>
			</div>

		    <!-- Modal HTML -->
		    <div id="DeleteAllDataModal" class="modal fade" aria-hidden="true" aria-labelledby="ModalLabel">
		        <div class="modal-dialog">
		            <div class="modal-content">
		                <div class="modal-header">
		                	<h1 id="ModalLabel" class="modal-title fs-5">Confirmation</h1>
		                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
		                </div>
		                <div class="modal-body">
		                    <p>Proceed to delete all sensor data?!</p>
		                </div>
		                <div class="modal-footer">
		                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
		                    <button name="delete" type="submit" idref="actionbtn" class="thebutton btn btn-primary">Proceed</button>
		                </div>
		            </div>
		        </div>
		    </div>	

		</form>	
		
		<script type="text/javascript">
			
			$(function() {
					$(".thebutton").click(function() {
						var selvalue=$(this).attr('name');
						//alert(selvalue);
						var idref=$(this).attr('idref');
						$('#' + idref).attr("value", selvalue);
					});
				});
		</script>

		<form novalidate="true" action="{{ url_for('DATAsetup') }}" id="DATAsetup" method="post" > 
			<div class="row">
				<div class="d-grid col-lg-4 col-md-4 col-sm-4 col-xs-4 pb-4">
					<button name="buttonsub" value="show" type="submit" class="thebutton btn btn-primary defaultbutton w-100">
					<i class="fas fa-cog"></i> Filter Data
					</button>
				</div>
			</div>
		</form> 
		
  	</div>

  	{% else %}

		<h1>Please login</h1>
  
  	{% endif %}

{% endblock %}
