{% extends "layout2024.html" %}
{% set active_page = "showcalibration" %}
{% block body %}
	{% if session.logged_in %}

<div class="container">

	<form novalidate="true" action="{{ url_for('showdeviceaddresseslist') }}" id="menuForm" method="post" >
        
		<div class="pb-2 mt-4 mb-2 border-bottom">
			<h3>Device addresses</h3>
		</div>

		<div class="card card-body bg-light">

		{% if deviceaddresseslist|length > 0 %}			

			<table class="table table-condensed table-light table-sm">
			<thead>
				<tr>
					<th>Address</th>
					<th>Type</th>
					<th>Name</th>
					<th>Info</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
			
			
			

			{% for item in deviceaddresseslist %}	
			{% set count = loop.index0 %}
			<tr>
				
				<td>
					<label>{{ item.address }}</label>
				</td>
			
				<td>
					<label>{{ item.type }}</label>
				</td>

				<td>
					<label>{{ item.name }}</label>
				</td>
				
				<td>
					<label>{{ item.message }}</label>
				</td>
				
				<td>
					{% if item.changeaddressflag=="1" %}
					<button class="setbutton btn-sm btn btn-success btn-block" type="button" name="setsensor" element="{{item.name}}">Change</button>
					{% else %}
					<button class="setbutton btn-sm btn btn-success btn-block" type="button" name="setsensor" element="{{item.name}}" disabled>Change</button>
					{% endif %}
				</td>


			</tr>
			{% endfor %}				

        </tbody>
    </table>
    
	{% else %}
	<div class="pb-2 mt-4 mb-2 border-bottom">
		<h3>There are no device with address</h3>
	</div>

	
	{% endif %}

		<div class="row">
			<div class="d-grid col-lg-4 col-md-4 col-sm-4 col-xs-4 pb-4">
				<button class="btn btn-secondary defaultbutton w-100" type="submit" name="buttonsub" value="cancel"><i class="fa-solid fa-circle-left"></i> Back</button>
			</div>
		</div>


		</div>
			
	</form>			
 
</div> 
  {% else %}

		<h1>Please login</h1>

  
  {% endif %}
  <ul class=entries>

  </ul>
{% endblock %}
