{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}


        <!-- Forms
      ================================================== -->
      <div class="container-fluid">

        <div class="row">
          <div class="col-lg-6">
            <div class="card card-body bg-light">
				
				
				
              <form class="form-horizontal" action="{{ url_for('systemmailsetting') }}" method="post">
                <fieldset>
                  <legend>System Mail Credentials (SMTP)</legend>
                  <div class="row mb-2">
                    <label for="inputServer" class="col-lg-3 control-label">Server address</label>
                    <div class="col-lg-9">
                      <input type="text" class="form-control" id="inputServer" placeholder={% if server=="" %}"mail server"{% else %}"{{server}}"{% endif %} name="server" value="{{server}}">
                    </div>
                  </div>
                  <div class="row mb-2">
                    <label for="inputPort" class="col-lg-3 control-label">Server port</label>
                    <div class="col-lg-9">
                      <input type="text" class="form-control" id="inputPort" placeholder={% if port=="" %}"mail port"{% else %}"{{port}}"{% endif %} name="port" value="{{port}}">
                    </div>
                  </div>
                  <div class="row mb-2">
                    <label for="inputEmail" class="col-lg-3 control-label">Mail address</label>
                    <div class="col-lg-9">
                      <input type="text" class="form-control" id="inputAddress" placeholder={% if address=="" %}"mail address"{% else %}"{{address}}"{% endif %} name="address" value="{{address}}">
                    </div>
                  </div>
                  <div class="row mb-2">
                    <label for="inputPassword" class="col-lg-3 control-label">Password</label>
                    <div class="col-lg-9">
                      <input type="password" class="form-control" id="inputPassword" placeholder="mail Password" name="password" value="{{password}}">
                      
                    </div>
                  </div>
  
                  <div class="row mb-2">
                    <div class="col-lg-6 col-lg-offset-3">
			<button name="button" type="submit" class="btn btn-secondary" value="cancel">Cancel</button>
			<button name="button" type="submit" class="btn btn-primary ms-2" value="save"><i class="fa-solid fa-floppy-disk"></i> Save</button>
                    </div>

                  </div>
                </fieldset>
              </form>
            </div>
          </div>
 
        </div>
      </div>
 <!-- end form --> 
  
  {% endif %}
  <ul class=entries>

  </ul>
{% endblock %}
